body{
	background-color: #dedede;
  }
  
  .gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  figure{
	width:2fr;
	margin: 8px 0;
	border: 1px solid #777;
	padding: 8px;
	box-sizing: border-box;
	background-color: #fff;
  }

  figure img{
	width: 100%;
  }

  figure figcaption{
	text-align: center;
	padding: 8px 4px;
  }

  #title{ 
	font-family: 'Parisienne', cursive;
	font-size: 3em;
	text-align: center;
	color: rgb(49, 31, 212)
  }

  #vidtitle {
	  font-family: 'Parisienne', cursive;
	  text-align: center
  }